body
{
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
thead
{
    display: table-header-group;
}
tfoot
{
    display: table-footer-group;
}
th.main_headings
{
    background-color:#366999;
    color:#ffffff;
    text-shadow: none;
}
.nbill_summary_table
{
    width: auto;
    min-width: 300px;
    border-collapse: collapse;
}
.nbill_summary_table th, .nbill_summary_table td
{
    border: solid 1px #cccccc;
    padding-top: 0px; /* Top and bottom padding must be zero due to IE faulty box model */
    padding-bottom: 0px;
    padding-left: 3px !important;
    padding-right: 3px !important;
    line-height: 1.2;
    height:25px;
    vertical-align: middle;
}
.nbill_summary_sub_heading
{
    background-color: #dddddd;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.2;
}
.payment-link, .print_row, .print-page
{
    display: none !important;
}
.print-only
{
    display: block !important;
}
table, thead, tr, td
{
    page-break-inside: avoid;
    page-break-after:auto;
}