/**
* This file provides an example of how you can change the look and feel of your administrator by
* simply creating a new stylesheet and overriding whatever you want to change. To implement a green colour
* scheme, just rename this file to 'template.css' (ie. remove the leading underscore).
*/

/** Home Page **/
.main-dashboard-text, .nbill-help-link a, h1, h2, h3, h4, h5, h6
{
    color: #398235;
}
.nbill-widget-title
{
    background-color:#8ab66b;
}

.nbill-widget-coloured-link:hover
{
    background-color: #A0C585;
}
.nbill-widget-div-link
{
    border: solid 1px #8ab66b;
}
.nbill-widget-div-link a
{
    color: #2F622A;
}

/** General **/
table.adminform th, table.adminlist th
{
    background-color: #65935D !important;
    color: #fff !important;
}
table.summary-list tr:hover, table.adminlist tr:hover
{
    background-color: #dfffdf;
}
table.adminlist tr.selected
{
    background-color: #ccffcc;
}
a, .nbill-menu-list li a
{
    color: #2F622A;
}
table.adminform th a, table.adminlist th a
{
    color:#dfd;
}
.nbill-static-help-text
{
    background-color: #dfffdf;
}