.nbill-widget.type-sales_graph
{
    width: 48%;
}
.nbill-sales-graph
{
    border: solid 10px #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
label
{
    display: inline;
}
.sales-graph-printable
{
    display:inline-block;
    margin-right: 40px;
}
.graph-selector
{
    width:auto;
}